## Poverty Assessment: Pamplona Alta
### Caja del Amor Survey Results
### Sean O'Malley

#### Project

Every year, in partnership with the Solidaridad en Marcha, Catholic churches throughout the city of Lima, Peru deliver thousands of Christmas gift boxes to the poorest residents in the city. The campaign, called Caja Del Amor, has been in operation for years and has subsequently built long-term and well-sustained relationships with many community leaders in these areas. 


The list of gift recipients is built in coordination with the local community leaders, most of whom oversee around 150 families. These leaders choose the 5 to 10 families in most need of assistance in their respective community to receive the gift boxes.


These networks served as a point of strength when we began to explore the creation of an in-depth survey to better understand the poorest urban populations in Peru. However, our focus needed to also be on action-ability of insight and the concrete opportunity of enacting positive change in the lives those we surveyed. 


Therefore, we decided to focus on a region of high need, and an area where Solidaridad en Marcha had a significant footprint. This process of elimination lead us to the region of Pamplona Alta near the San Juan de Miraflores municipality of Lima.

#### Data

Understanding the many facets of those in Pamplona Alta was integral in the way we built our survey, the questions we asked, and the way we asked them. We raised some questions that we heuristically had an intuitive idea of the answer, but needed to understand the severity. Yet, others we asked in order to gain insight into the tools we may have available to us within our solution set. 

Lastly, we inquired of economic indicators, religious factors and family structure. All intended to paint a picture of the lives of those in Pamplona Alta and to possibly determine causality between the various characteristics.  

We were able to fully survey over 500 families and after extracting all personably identifiable data, we built a dataset that held great potential for a greater understanding of the lives of those in Pamplona Alta and the possible routes available to help them.

The completed dataset built from the original survey contains 21 variables and 507 observations of which to explore, visualize and perform analysis on. The complete dataset can be found on my GitHub account, here. Also note, for binary variables, 1 is yes and 0 is no.

1.	__fam_n__	– _numeric factor_ – Unique identifier for each family.
2.	__internet__ – _binary_ – Does your phone have internet?
3.	__agua__ –	_binary_ – Can the water truck get to your house?
4.	__banco__ – _binary_ – Do you have a bank account?
5.	__iglesia__ – _binary_ – Do you go to church at least once a month?
6.	__dejar_hijos__ –  _binary_ – Do you leave your children home alone (when you go to work)?
7.	__cuantas_personas__ – _numeric_ – How many people live in your house?
8.	__tiempo_casa__ – _numeric_ – How long have you lived in your house?
9.	__primer_hijo__ – _numeric_ – At what age did you have your first child?
10.	__cuantas_trabajan__ – _numeric_ – How many people in your house work?
11.	__tiempo_trabajan__ – _numeric_ – How long does it take to get to your job?	
12.	__pierden_colegio__ – _numeric_ – How many days a month do your children miss school?
13.	__ingreso__ – _numeric_ – What is your monthly household income?
14.	__bautizadas__ – _numeric_ – How many people in your family are baptized?
15.	__direccion__ – _character factor_ – Name of neighborhood.
16.	__padre__ – _binary_ – Does the father of the children live in the home?
17.	__madre__ – _binary_ – Does the mother of the children live in the home?
18.	__F__ – _numeric_ – Count of females in the home.
19.	__M__ – _numeric_ – Count of males in the home.
20.	__niños__ – _numeric_ – Count of children 18 and younger in the home.
21.	__mayores__ – _numeric_ – Count of adults 65 and older in the home.

Months of conversations, meetings, reading and collaboration with community members came into building this survey. Qualitative analysis helped us produce a dataset that has the potential to perform multiple quantitative analyses that are relevant and informed; and it is from this point that we will now follow the flow of a data science analysis.

#### Process

Reminder: I will at times use technical language, but I encourage you to keep reading through, because I will also accompany every scientific insight with an explanation in simple language, relevant to the question at hand.

We will begin by exploring the variables, the average values and basic correlations, visualizing how characteristics behave with one another. Following our exploratory phase, we will inspect cause and effect relationships between pairs of variables, as well as predict specific variables using all available data. I will use multiple techniques to perform this analysis of causality in hopes of providing variable importance in the prediction of key factors of the poor. The result will be a set of priorities for aid workers to pursue in the betterment of certain economic or societal indicators.


The succeeding analysis will be that of understanding natural segments that exist within the poorest of the poor. Again, using multiple techniques, I will attempt to determine the groups of people that exist within those surveyed. What commonalities do certain segments have? How can we target aid campaigns to help certain groups? These are a few of the many questions a segmentation analysis will help us answer.

Our quantitative and qualitative analyses will come to fruition in the final recommendation portion of this process. We will present questions and provide actionable insight into those questions, as determined by our analysis. We will build a road map for aid, a list of how we can help, who we can help and the logistical suggestions to do so. Our intent is to tie every insight to action and offer suggestions as to the best action available given what we have learned from the analysis. So, let’s get started!

Import the necessary packages

In [64]:
import pandas as pd
import numpy as np
import os

Ingest the raw data from its github location

In [65]:
github_file_location = "https://raw.githubusercontent.com/showmalley/SeanOMalleyCodePortfolio/master/Development%20Economics/PovertySurveys/CDA_FULL_2018.csv"

df = pd.read_csv(github_file_location, encoding="ISO-8859-1").iloc[:,1:]

We need to explore the datatypes to unsure correct formatting. It looks like we only need to alter the FAM_N and DIRECCION variables to be categorical.

In [66]:
df.FAM_N = df.FAM_N.astype('category')
df.DIRECCION = df.DIRECCION.astype('category')
print(df.dtypes)

FAM_N               category
internet             float64
agua                 float64
banco                float64
iglesia              float64
dejar_hijos          float64
cuantas_personas     float64
tiempo_casa          float64
primer_hijo          float64
cuantas_trabajan     float64
tiempo_trabajan      float64
pierden_colegio      float64
ingreso              float64
bautizadas           float64
DIRECCION           category
PADRE                float64
MADRE                float64
F                    float64
M                    float64
NINOS                float64
MAYORES              float64
dtype: object

All looks well, lets move on to explore the data itself. First with summary statistics.

In [67]:
df.describe()

,internet,agua,banco,iglesia,dejar_hijos,cuantas_personas,tiempo_casa,primer_hijo,cuantas_trabajan,tiempo_trabajan,pierden_colegio,ingreso,bautizadas,PADRE,MADRE,F,M,NINOS,MAYORES
count,498.000000,493.000000,503.000000,500.000000,486.000000,505.000000,495.000000,476.000000,479.000000,409.000000,344.000000,441.000000,440.000000,502.000000,502.000000,499.000000,499.000000,499.000000,499.000000
mean,0.106426,0.705882,0.035785,0.874000,0.403292,5.043564,14.225859,20.918067,1.281837,1.721516,1.962791,682.380952,2.650000,0.551793,0.970120,2.543086,2.036072,2.603206,0.058116
std,0.308692,0.456108,0.185939,0.332182,0.491064,1.958418,8.601098,4.806532,0.763925,4.086312,2.318429,576.150332,1.838651,0.497806,0.170427,1.240080,1.270100,1.521885,0.258644
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,6.000000,18.000000,1.000000,0.750000,0.000000,430.000000,1.000000,0.000000,1.000000,2.000000,1.000000,2.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,5.000000,15.000000,20.000000,1.000000,1.000000,2.000000,700.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,0.000000
75%,0.000000,1.000000,0.000000,1.000000,1.000000,6.000000,18.000000,23.000000,1.000000,2.000000,3.000000,850.000000,4.000000,1.000000,1.000000,3.000000,3.000000,3.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,50.000000,45.000000,7.000000,60.000000,22.000000,8500.000000,10.000000,1.000000,1.000000,8.000000,6.000000,8.000000,2.000000

Looking above, we have a few checks we need to take care of. Look to min and max to identify unreasonable outliers. Once this is controlled for, looking at the mean values can give us our first brief insight into the lives of the data we have ingested

__Outliers__

The only data changes I see that need changed is the age of the first child and people living in each house. 
* We know no one at age 0 can have a child, so lets control for this by saying any value under 11 is NaN. 
* Also, 0 people cannot live in a household, so where the value is 0, lets impute 1

In [68]:
df.loc[df.primer_hijo < 12, 'primer_hijo'] = np.nan
df.loc[df.cuantas_personas < 1, 'primer_hijo'] = 1

In [69]:
df.describe()

,internet,agua,banco,iglesia,dejar_hijos,cuantas_personas,tiempo_casa,primer_hijo,cuantas_trabajan,tiempo_trabajan,pierden_colegio,ingreso,bautizadas,PADRE,MADRE,F,M,NINOS,MAYORES
count,498.000000,493.000000,503.000000,500.000000,486.000000,505.000000,495.000000,472.000000,479.000000,409.000000,344.000000,441.000000,440.000000,502.000000,502.000000,499.000000,499.000000,499.000000,499.000000
mean,0.106426,0.705882,0.035785,0.874000,0.403292,5.043564,14.225859,21.004237,1.281837,1.721516,1.962791,682.380952,2.650000,0.551793,0.970120,2.543086,2.036072,2.603206,0.058116
std,0.308692,0.456108,0.185939,0.332182,0.491064,1.958418,8.601098,4.622935,0.763925,4.086312,2.318429,576.150332,1.838651,0.497806,0.170427,1.240080,1.270100,1.521885,0.258644
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,6.000000,18.000000,1.000000,0.750000,0.000000,430.000000,1.000000,0.000000,1.000000,2.000000,1.000000,2.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,5.000000,15.000000,20.000000,1.000000,1.000000,2.000000,700.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,0.000000
75%,0.000000,1.000000,0.000000,1.000000,1.000000,6.000000,18.000000,23.000000,1.000000,2.000000,3.000000,850.000000,4.000000,1.000000,1.000000,3.000000,3.000000,3.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,50.000000,45.000000,7.000000,60.000000,22.000000,8500.000000,10.000000,1.000000,1.000000,8.000000,6.000000,8.000000,2.000000

Now looking to the binary values, lets get the proportion of YES to NO answers.

In [78]:
binaries = ['internet','agua','banco','iglesia','dejar_hijos','PADRE','MADRE']

for i in range(len(binaries)):
    print('---')
    print(str(round(df[binaries[i]].mean()*100,2)) + "% of those surveyed answered YES to " + str(binaries[i]))
    
print('---')

---
10.64% of those surveyed answered YES to internet
---
70.59% of those surveyed answered YES to agua
---
3.58% of those surveyed answered YES to banco
---
87.4% of those surveyed answered YES to iglesia
---
40.33% of those surveyed answered YES to dejar_hijos
---
55.18% of those surveyed answered YES to PADRE
---
97.01% of those surveyed answered YES to MADRE
---

In [ ]:
#cuantas_personas	tiempo_casa	primer_hijo	cuantas_trabajan	tiempo_trabajan	pierden_colegio	ingreso	bautizadas, F,M	NINOS	MAYORES